::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

#header
   {
        color: #444;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 17px;
        font-weight: bold;
        margin: 0 0 -1px 0;
        padding: 10px 15px 50px 10px;
    }

    #subtitle
    {
        font-size: 12px;
        font-weight: normal;
    }

    #banner
    {
        float: left;
    }

    #form_login
    {
        float: right;
        font-size: 13px;
        text-decoration: none;
        margin-top: 3%;
    }
    
    #forgotPass
    {
        color: Grey;
        font-size: 13px;
        text-decoration: none;
        font-weight: normal;
    }

    #nav
    {
        float: left;
        border: 1px solid #D0D0D0;
        padding: 0px 5px 5px 0px;
    }

    a
    {
        text-decoration: none;
        color: Black ;

    }
    #body
    {
       float: left;
       border: 0px solid #D0D0D0;
       padding: 3px 15px 25px 20px;

    }
    
    p.footer
    {
        text-align: right;
        font-size: 11px;
        border-top: 1px solid #D0D0D0;
        line-height: 32px;
        padding: 0 10px 0 10px;
        margin: 40% 0 0 0;
    }

    #container
    {
        margin: 10px;
        border: 1px solid #D0D0D0;
        border-top-style: solid;
        border-top-width: 5px;
        border-top-color: MediumBlue;
        -webkit-box-shadow: 0 0 8px #D0D0D0;
    }

    form
    {
      float: right;
    }
    #username, #password
    {
      width: 110px;
      height: 15px;
    }
    #submit
    {
      float: right;
    }